<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--mes服务名-->
    <add key="serviceName" value="MES-MonitoringService" />
    <!--守护服务名-->
    <add key="DefendServiceName" value="MES-Service-Defend" />
    <!--server文件夹-->
    <add key="service_folder" value="\Service" />
    <!--defendserver文件夹-->
    <add key="defendservice_folder" value="\DefendService" />
    <!--log文件夹-->
    <add key="log_folder" value="\log" />
    <!--卸载程序名-->
    <add key="uninsexe" value="\unins000.exe" />
    
  </appSettings>
</configuration>
