<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--mes服务进程名-->
    <add key="MESProgramName" value="MES-MonitoringService" />
    <!--守护服务进程名-->
    <add key="defendProgramName" value="MES-Service-Defend" />
    <!--mes服务名-->
    <add key="MESServiceName" value="MESUploadDataService" />
    <!--守护服务名-->
    <add key="defendServiceName" value="MESServiceDefend" />
    <!--MES进程名-->
    <add key="MESClientProgramName" value="MES-MonitoringClient" />
    <!--MES程序目录-->
    <add key="mesexe" value="\Client\MES-MonitoringClient.exe" />
    <!--下载超时时间，秒为单位-->
    <add key="timerInterval" value="20" />
  </appSettings>
</configuration>
