<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--MongoDB设置*************************************************************-->
    <!--Mongodb服务名称（基本固定，不需更改）-->
    <add key="MongodbServiceName" value="MongoDB"/>
    <!--Mongodb本地服务器地址-->
    <add key="MongodbURL" value="mongodb://localhost:27017"/>
    <!--Mongodb本地数据库名称-->
    <add key="MongodbName" value="MES-LOCAL"/>

    <!--是否需要检测Mongodb服务-->
    <add key="NeedCheckMongoDBService" value="false"/>
    
    
    <!--发送数据后台服务设置*************************************************************-->
    <!--上传数据后台服务名称-->
    <add key="UploadDataServiceName" value="MESUploadDataService"/>

    <!--机器设置*************************************************************-->
    <!--机器名称-->
    <add key="MachineName" value="D00"/>
    
    <!--发送数据串口频率设置*************************************************************-->
    <!--发送数据至串口隔多少秒（参数是毫秒）-->
    <add key="SendDataIntervalMilliseconds" value="100"/>
    <!--发送数据至串口隔多少秒（参数是毫秒）-->
    <add key="CheckSerialPort" value="COM1,COM6"/>
    <!--发送数据至串口默认信号-->
    <add key="SendDataDefaultSignal" value="AA1086"/>


    <!--接收数据串口默认信号前缀（默认为AA）-->
    <add key="GetSerialPortDataDefaultSignal_StartPrefix" value="AA"/>
    <!--接收数据串口默认信号后缀（默认为ZZ）-->
    <add key="GetSerialPortDataDefaultSignal_EndPrefix" value="ZZ"/>
    
    
    
    <!--发送数据串口设置*************************************************************-->
    <!--发送数据至串口名称-->
    <add key="SendDataSerialPortName" value="COM6"/>
    <!--发送数据至串口波特率-->
    <add key="SendDataSerialBaudRate" value="115200"/>
    <!--发送数据至串口数据位-->
    <add key="SendDataSerialDataBits" value="8"/>
    <!--发送数据至串口无奇偶性验证-->
    <add key="SendDataSerialParity" value="None"/>
    <!--发送数据至串口停止位-->
    <add key="SendDataSerialStopBits" value="One"/>


    <!--RFID串口设置*************************************************************-->
    <!--RFID串口名称-->
    <add key="RFIDSerialPortName" value="COM1"/>
    <!--RFID串口波特率-->
    <add key="RFIDSerialBaudRate" value="9600"/>
    <!--RFID串口数据位-->
    <add key="RFIDSerialDataBits" value="8"/>
    <!--RFID串口无奇偶性验证-->
    <add key="RFIDSerialParity" value="None"/>
    <!--RFID串口停止位-->
    <add key="RFIDSerialStopBits" value="One"/>


    <!--后台服务器设置*************************************************************-->
    <add key="BackendServerProtocol" value="http"/>
    <add key="BackendServerHost" value="localhost"/>
    <add key="BackendServerPort" value="3000"/>

    <add key="MachineRegisterUrlPath" value="/machine/registers"/>
    
  </appSettings>
</configuration>
