<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>  
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--MongoDB设置*************************************************************-->
    <!--检测Mongodb服务（基本固定，不需更改，生成安装包时会替换成1）-->
    <add key="CheckMongoDBService" value="0"/>
    <!--Mongodb服务名称（基本固定，不需更改）-->
    <add key="MongodbServiceName" value="MongoDB"/>
    <!--Mongodb本地服务器地址-->
    <add key="MongodbURL" value="mongodb://localhost:27017"/>
    <!--Mongodb本地数据库名称-->
    <add key="MongodbName" value="MES-LOCAL"/>
    
    
    <!--发送数据后台服务设置*************************************************************-->
    <!--上传数据后台服务名称-->
    <add key="UploadDataServiceName" value="MESUploadDataService"/>

    
    <!--发送数据串口频率设置*************************************************************-->
    <!--发送数据至串口隔多少秒（参数是毫秒）-->
    <add key="SendDataIntervalMilliseconds" value="100"/>
    <!--需要检测的串口名称（默认是COM1获取刷卡信息，COM6获取机器信号）-->
    <!--<add key="CheckSerialPort" value="COM1,COM6"/>-->
    <!--发送数据至串口默认信号-->
    <add key="SendDataDefaultSignal" value="AA1086"/>
    <!--接收数据串口默认信号前缀（默认为AA）-->
    <add key="GetSerialPortDataDefaultSignal_StartPrefix" value="AA"/>
    <!--接收数据串口默认信号后缀（默认为ZZ）-->
    <add key="GetSerialPortDataDefaultSignal_EndPrefix" value="ZZ"/>
    <!--信号写入日志-->
    <add key="SaveSignalToLog" value="1"/>
    
    
    <!--发送数据串口设置*************************************************************-->
    <!--发送数据至串口名称-->
    <add key="SendDataSerialPortName" value="COM6"/>
    <!--发送数据至串口波特率-->
    <add key="SendDataSerialBaudRate" value="115200"/>
    <!--发送数据至串口数据位-->
    <add key="SendDataSerialDataBits" value="8"/>
    <!--发送数据至串口无奇偶性验证-->
    <add key="SendDataSerialParity" value="None"/>
    <!--发送数据至串口停止位-->
    <add key="SendDataSerialStopBits" value="One"/>


    <!--RFID串口设置*************************************************************-->
    <!--RFID串口名称-->
    <add key="RFIDSerialPortName" value="COM1"/>
    <!--RFID串口波特率-->
    <add key="RFIDSerialBaudRate" value="9600"/>
    <!--RFID串口数据位-->
    <add key="RFIDSerialDataBits" value="8"/>
    <!--RFID串口无奇偶性验证-->
    <add key="RFIDSerialParity" value="None"/>
    <!--RFID串口停止位-->
    <add key="RFIDSerialStopBits" value="One"/>


    <!--后台服务器设置*************************************************************-->
    <add key="BackendServerProtocol" value="http" />
    <add key="BackendServerHost" value="localhost" />
    <add key="BackendServerPort" value="3000" />
    <add key="BackendServerToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjMzU0ODhmMmY5YzkzM2Y3NGQwM2Y0NCIsImVtcGxveWVlSUQiOiJhZG1pbiIsInVzZXJuYW1lIjoiYWRtaW4iLCJkZXBhcnRtZW50IjoiYWRtaW4iLCJpYXQiOjE1NjE2OTQwNTV9.HRZtsKE--e2B0bYjWOXGtaqv1ZveaEB2aAeIq8QcXbU" />

    
    <!--机器注册*************************************************************-->
    <!--机器码验证-->
    <add key="MachineRegisterCheckUrlPath" value="/machine/check"/>
    <!--机器注册-->
    <add key="MachineRegisterUrlPath" value="/machine/registers"/>
    <!--机器状态日志数据集合名称，即表名-->
    <add key="MachineStatusLogCollectionName" value="MachineStatusLog" />
    <!--机器注册信息数据集合名称，即表名-->
    <add key="MachineRegisterCollectionName" value="MachineRegister"/>
    
    <!--同步服务包含的API地址*************************************************************-->
    <!--同步API（目前同步职位、机器状态、部门、组别、班次、员工、客户、产品、模具、机器负责人、车间负责人、员工排班等12个表的信息）-->
    <add key="SyncDataUrlPath" value="/syncdata"/>
    
  
    <!--同步服务包含的表名*************************************************************-->
    <!--工厂数据集合名称，即表名-->
    <add key="FactoryCollectionName" value="Factory" />
    <!--车间数据集合名称，即表名-->
    <add key="WorkshopCollectionName" value="Workshop" />
    <!--机器数据集合名称，即表名-->
    <add key="MachineCollectionName" value="Machine" />
    <!--机器状态数据集合名称，即表名-->
    <add key="MachineStatusCollectionName" value="MachineStatus" />
    <!--职位数据集合名称，即表名-->
    <add key="JobPositionCollectionName" value="JobPosition" />
    <!--班次数据集合名称，即表名-->
    <add key="WorkShiftCollectionName" value="WorkShift" />
    <!--部门数据集合名称，即表名-->
    <add key="DepartmentCollectionName" value="Department" />
    <!--组别数据集合名称，即表名-->
    <add key="GroupCollectionName" value="Group" />
    <!--员工数据集合名称，即表名-->
    <add key="EmployeeCollectionName" value="Employee" />
    <!--客户数据集合名称，即表名-->
    <add key="CustomerCollectionName" value="Customer" />
    <!--产品数据集合名称，即表名-->
    <add key="MaterialCollectionName" value="Material" />
    <!--模具数据集合名称，即表名-->
    <add key="MouldCollectionName" value="Mould" />
    <!--模具对应产品出数数据集合名称，即表名-->
    <add key="MouldProductCollectionName" value="MouldProduct" />
    <!--关机日志数据集合名称，即表名-->
    <add key="OffPowerLogCollectionName" value="OffPowerLog" />

    <!--工单数据集合名称，即表名-->
    <add key="JobOrderCollectionName" value="JobOrder" />
    <!--工单处理数据集合名称，即表名-->
    <add key="JobOrderProcessCollectionName" value="JobOrderProcess" />
    <!--工单数据集合名称，即表名-->
    <add key="JobOrderFirstProduceLogCollectionName" value="JobOrderFirstProduceLog" />
    <!--车间负责人集合名-->
    <add key="WorkshopResponsiblePersonCollectionName" value="WorkshopResponsiblePerson"/>
    <!--机器负责人-->
    <add key="MachineResponsiblePersonCollectionName" value="MachineResponsiblePerson"/>
    <!--员工排班-->
    <add key="EmployeeWorkScheduleCollectionName" value="EmployeeWorkSchedule"  />
    <!--工单每小时生产数量-->
    <add key="MachineProductionCollectionName" value="MachineProduction"  />
    
    <!--员工照片地址*************************************************************-->
    <!--员工照片地址-->
    <add key="EmployeeImageFolder" value="\image" />
    <!--版本号-->
    <add key="Version" value="1.2.15"/>
    <!--检测更新-->
    <add key="UpdatePath" value="/clientVersions/latest"/>
    <!--密码-->
    <add key="Update_Password" value="admin123"/>
  </appSettings>
</configuration>
