<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--MongoDB设置*************************************************************-->
    <!--Mongodb服务名称（基本固定，不需更改）-->
    <add key="MongodbServiceName" value="MongoDB"/>
    <!--Mongodb本地服务器地址-->
    <add key="MongodbURL" value="mongodb://localhost:27017"/>
    <!--Mongodb本地数据库名称-->
    <add key="MongodbName" value="MES-LOCAL"/>

    <!--是否需要检测Mongodb服务-->
    <add key="NeedCheckMongoDBService" value="false"/>
    
    
    <!--发送数据后台服务设置*************************************************************-->
    <!--上传数据后台服务名称-->
    <add key="UploadDataServiceName" value="MESUploadDataService"/>

    <!--机器设置*************************************************************-->
    <!--机器名称-->
    <add key="MachineName" value="D00"/>
    
    <!--发送数据串口频率设置*************************************************************-->
    <!--发送数据至串口隔多少秒（参数是毫秒）-->
    <add key="SendDataIntervalMilliseconds" value="100"/>
    <!--发送数据至串口隔多少秒（参数是毫秒）-->
    <add key="CheckSerialPort" value="COM1,COM6"/>
    <!--发送数据至串口默认信号-->
    <add key="SendDataDefaultSignal" value="AA1086"/>


    <!--接收数据串口默认信号前缀（默认为AA）-->
    <add key="GetSerialPortDataDefaultSignal_StartPrefix" value="AA"/>
    <!--接收数据串口默认信号后缀（默认为ZZ）-->
    <add key="GetSerialPortDataDefaultSignal_EndPrefix" value="ZZ"/>
    
    
    
    <!--发送数据串口设置*************************************************************-->
    <!--发送数据至串口名称-->
    <add key="SendDataSerialPortName" value="COM6"/>
    <!--发送数据至串口波特率-->
    <add key="SendDataSerialBaudRate" value="115200"/>
    <!--发送数据至串口数据位-->
    <add key="SendDataSerialDataBits" value="8"/>
    <!--发送数据至串口无奇偶性验证-->
    <add key="SendDataSerialParity" value="None"/>
    <!--发送数据至串口停止位-->
    <add key="SendDataSerialStopBits" value="One"/>


    <!--RFID串口设置*************************************************************-->
    <!--RFID串口名称-->
    <add key="RFIDSerialPortName" value="COM1"/>
    <!--RFID串口波特率-->
    <add key="RFIDSerialBaudRate" value="9600"/>
    <!--RFID串口数据位-->
    <add key="RFIDSerialDataBits" value="8"/>
    <!--RFID串口无奇偶性验证-->
    <add key="RFIDSerialParity" value="None"/>
    <!--RFID串口停止位-->
    <add key="RFIDSerialStopBits" value="One"/>


    <!--后台服务器设置*************************************************************-->
    <add key="BackendServerProtocol" value="http"/>
    <add key="BackendServerHost" value="localhost"/>
    <add key="BackendServerPort" value="3000"/>
    <add key="BackendServerToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbXBsb3llZUlEIjoiYWRtaW4iLCJ1c2VybmFtZSI6ImFkbWluIiwiZGVwYXJ0bWVudCI6ImFkbWluIiwiaWF0IjoxNTU0ODAzNDA0fQ.lW1n26pZuryDt8PxjFQvhEupdfwg-j5fVEgfD3x0Y7E"/>

    <!--机器码验证-->
    <add key="MachineRegisterCheckUrlPath" value="/machine/check"/>
    <!--机器注册-->
    <add key="MachineRegisterUrlPath" value="/machine/registers"/>

    <!--机器注册信息数据集合名称，即表名-->
    <add key="MachineRegisterCollectionName" value="MachineRegister"/>
    
    
    
    <!--同步服务包含的表名*************************************************************-->
    <!--机器状态数据集合名称，即表名-->
    <add key="MachineStatusCollectionName" value="MachineStatus" />

    <!--职位数据集合名称，即表名-->
    <add key="JobPositionCollectionName" value="JobPosition" />

    <!--班次数据集合名称，即表名-->
    <add key="WorkShiftCollectionName" value="WorkShift" />

    <!--部门数据集合名称，即表名-->
    <add key="DepartmentCollectionName" value="Department" />

    <!--组别数据集合名称，即表名-->
    <add key="GroupCollectionName" value="Group" />

    <!--员工数据集合名称，即表名-->
    <add key="EmployeeCollectionName" value="Employee" />


    <!--同步服务包含的API地址*************************************************************-->
    <!--同步API-->
    <add key="SyncDataUrlPath" value="/syncdata"/>


  </appSettings>
</configuration>
