<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="RabbitMQServerHostName" value="localhost"/>    
        <!--上传数据隔多少秒（参数是毫秒）-->
        <add key="RabbitMQUserName" value="admin"/>    
        <!--上传数据隔多少秒（参数是毫秒）-->
        <add key="RabbitMQPassword" value="admin123"/>
    


        <add key="MachineStatusLogQueueName" value="MachineStatusLog"/>    
    </appSettings>
</configuration>