<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--上传数据服务基础设置*************************************************************-->
    <!--检测Mongodb服务（基本固定，不需更改，生成安装包时会替换成1）-->
    <add key="CheckMongoDBService" value="0" />
    <!--上传数据服务名称-->
    <add key="DefaultServiceName" value="MESServiceDefend" />
    <!--上传数据服务显示名称-->
    <add key="DefaultServiceDisplayName" value="MES Service Defend" />
    <!--上传数据服务描述-->
    <add key="DefaultServiceDescription" value="MES守护服务，请勿手动停止，如该服务停止，将无法正常监听MES服务。" />
    <!--要守护的服务的服务名称-->
    <add key="toWatchServiceName" value="MESUploadDataService" />
    <!--守护服务的名称-->
    <add key="serviceName" value="MES服务守护服务" />
    <!--每10s检查一次 以秒为单位-->
    <add key="timerInterval" value="10" />
    <!--机器注册信息数据集合名称，即表名-->
    <add key="MachineRegisterCollectionName" value="MachineRegister" />
    <!--MongoDB设置*************************************************************-->
    <!--Mongodb服务名称（基本固定，不需更改）-->
    <add key="MongodbServiceName" value="MongoDB" />
    <!--Mongodb本地服务器地址-->
    <add key="MongodbURL" value="mongodb://localhost:27017" />
    <!--Mongodb本地数据库名称-->
    <add key="MongodbName" value="MES-LOCAL" />
    <!--RabbitMQ运行参数*************************************************************-->
    <add key="RabbitMQServerProtocol" value="http" />
    <!--RabbitMQ服务器地址-->
    <add key="RabbitMQServerHostName" value="localhost" />
    <!--RabbitMQ服务器端口-->
    <add key="RabbitMQServerPort" value="15672" />
    <!--RabbitMQ用户名-->
    <add key="RabbitMQUserName" value="admin" />
    <!--RabbitMQ口令-->
    <add key="RabbitMQPassword" value="admin123" />
    <!--api-->
    <add key="RabbitMQServerAPI" value="/api/queues" />
    <!--vhost-->
    <add key="RabbitMQServerVhost" value="%2f" />
    <!--队列前缀-->
    <add key="SyncData_QueueName_Prefix" value="SyncData." />
    <!--检测字段-->
    <add key="Check_Unacked" value="messages_unacknowledged" />
    <!--进程名-->
    <add key="Service_Name" value="MES-MonitoringService" />
    
  </appSettings>
</configuration>