<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--上传数据服务基础设置*************************************************************-->
    <!--上传数据服务名称-->
    <add key="DefaultServiceName" value="MESUploadDataService" />
    <!--上传数据服务显示名称-->
    <add key="DefaultServiceDisplayName" value="MES Upload Data Service" />
    <!--上传数据服务描述-->
    <add key="DefaultServiceDescription" value="MES后台数据上传服务，请勿手动停止，如该服务停止，将无法正常向服务器上传数据。" />


    <!--MongoDB设置*************************************************************-->    
    <!--Mongodb服务名称（基本固定，不需更改）-->
    <add key="MongodbServiceName" value="MongoDB" />    
    <!--Mongodb本地服务器地址-->
    <add key="MongodbURL" value="mongodb://localhost:27017" />    
    <!--Mongodb本地数据库名称-->
    <add key="MongodbName" value="MES-LOCAL" />


    
    <!--RabbitMQ运行参数*************************************************************-->
    <!--RabbitMQ服务器地址-->
    <add key="RabbitMQServerHostName" value="localhost" />
    <!--RabbitMQ服务器端口-->
    <add key="RabbitMQServerPort" value="5672" />
    <!--RabbitMQ用户名-->
    <add key="RabbitMQUserName" value="admin" />    
    <!--RabbitMQ口令-->
    <add key="RabbitMQPassword" value="admin123" />
    <!--RabbitMQ VirtualHost，默认是/-->
    <add key="RabbitMQVirtualHost" value="/" />

    <!--完整的RabbitMQ的地址，暂时该项不起作用-->
    <add key="RabbitMQCompleteUrl" value="amqp://admin:admin123@localhost:5672/" />
    
    

    <!--上传数据服务运行参数*************************************************************-->
    <!--上传数据隔多少秒（参数是毫秒）-->
    <add key="UploadDataIntervalMilliseconds" value="1000" />
    <!--同步员工头像多少秒（参数是毫秒）-->
    <add key="SyncEmployeeImageIntervalMilliseconds" value="10000" />



    <!--上传数据服务运行参数*************************************************************-->
    <!--机器状态日志交换机名称-->
    <add key="MachineStatusLog_ExchangeName" value="MES.MachineStatusLog" />
    <!--机器状态日志路由名称-->
    <add key="MachineStatusLog_RoutingKey" value="MES.MachineStatusLog" />
    <!--机器状态日志队列名称-->
    <add key="MachineStatusLog_QueueName" value="MES.MachineStatusLog" />


    <!--数据同步队列名称前缀-->
    <add key="SyncData_QueueName_Prefix" value="SyncData." />


    <!--机器状态日志数据集合名称，即表名-->
    <add key="MachineStatusLogCollectionName" value="MachineStatusLog" />
    <!--机器注册信息数据集合名称，即表名-->
    <add key="MachineRegisterCollectionName" value="MachineRegister" />
    
    
    <!--同步服务包含的表名*************************************************************-->
    <!--工厂数据集合名称，即表名-->
    <add key="FactoryCollectionName" value="Factory" />
    <!--车间数据集合名称，即表名-->
    <add key="WorkshopCollectionName" value="Workshop" />
    <!--机器数据集合名称，即表名-->
    <add key="MachineCollectionName" value="Machine" />
    <!--机器状态数据集合名称，即表名-->
    <add key="MachineStatusCollectionName" value="MachineStatus" />
    <!--职位数据集合名称，即表名-->
    <add key="JobPositionCollectionName" value="JobPosition" />
    <!--班次数据集合名称，即表名-->
    <add key="WorkShiftCollectionName" value="WorkShift" />
    <!--班次数据集合名称，即表名-->
    <add key="DepartmentCollectionName" value="Department" />
    <!--班次数据集合名称，即表名-->
    <add key="GroupCollectionName" value="Group" />
    <!--员工数据集合名称，即表名-->
    <add key="EmployeeCollectionName" value="Employee" />
    <!--客户数据集合名称，即表名-->
    <add key="CustomerCollectionName" value="Customer" />
    <!--产品数据集合名称，即表名-->
    <add key="MaterialCollectionName" value="Material" />
    <!--模具数据集合名称，即表名-->
    <add key="MouldCollectionName" value="Mould" />

    <!--工单数据集合名称，即表名-->
    <add key="JobOrderCollectionName" value="JobOrder" />
    

    <!--后台服务器设置*************************************************************-->
    <add key="BackendServerProtocol" value="http" />
    <add key="BackendServerHost" value="localhost" />
    <add key="BackendServerPort" value="3000" />
    <add key="BackendServerToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbXBsb3llZUlEIjoiYWRtaW4iLCJ1c2VybmFtZSI6ImFkbWluIiwiZGVwYXJ0bWVudCI6ImFkbWluIiwiaWF0IjoxNTU0ODAzNDA0fQ.lW1n26pZuryDt8PxjFQvhEupdfwg-j5fVEgfD3x0Y7E" />

    <!--客户端UI的文件夹名称-->
    <add key="ClientFolder" value="Client\image" />

  </appSettings>
</configuration>
